body {
  margin: 0;
}
.top-wrapper {
  height: 60px;
  display: flex;
  flex-direction: row;
}
.lupa {
  /*flex-grow: 1;*/
  margin: auto;
  display: flex;
  flex-direction: row;
}
.text1 {
  /*flex-grow: 6;*/
  margin: auto;
  margin-left: 1rem;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
}

.notif {
  /*flex-grow: 1;*/
  margin: auto;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.avance {
  display: flex;
  flex-direction: row;
}
.text2 {
  position: absolute;
  left: 24px;
  right: 162px;
  top: 63px;
  bottom: 729px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334d6e;
}
.text3 {
  position: absolute;
  width: 97px;
  height: 18px;
  left: 241px;
  right: 37px;
  top: 64px;
  bottom: 730px

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #6a707e;
}
.grey { 
  position: absolute;
  left: 24px;
  right: 24px;
  top: 99px;
}
.green {
  position: absolute;
  left: 24px;
  top: 99px;
}
.date-avance {
  position: absolute;
  left: 24px;
  right: 157px;
  top: 123px;
  bottom: 666px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #192a3e;
}
.devider {
position: absolute;
height: 1px;
left: 0px;
right: 0px;
top: 161px;
background: #EBEFF2;
}
.charts {
  border: 1px solid yellow;
}
.bar-graph {
  height: 344px;
  width: 370px;
  border: 1px solid green;
}
.pie-graph {
  height: 344px;
  width: 370px;
  border: 1px solid pink;
}
.summary1 {
  flex-grow: 1;
  height: 102px;
}
.summary2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 3;
}
.news1 {
  margin: 13px 24px 24px 24px;
  height: 126px;
  width: 327px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.news2 {
  height: 126px;
  width: 327px;
  margin: 0px 24px 24px 24px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.news3 {
  height: 126px;
  width: 327px;
  margin: 24px 10px 24px 24px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

/* Desktop Style */
@media only screen and (min-width: 376px) {
  .body-wrapper {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
  }
  .summary {
    flex-grow: 3;
  }
  .charts {
    flex-grow: 2;
  }
}
